<section class="m-container">
	<div class="wrapper-25  m-t-50 m-b-50 border-shadow">
		<div class="tech-intro">
			<img ng-src="{{postReviewCtrl.techInfo.image}}">
			<p>{{postReviewCtrl.techInfo.name}}<span>Write your Review</span></p>
		</div>
		<form class="review-form">
			<medium-editor ng-model="postReviewCtrl.content" bind-options="postReviewCtrl.options" class="m-editor-block"></medium-editor>
			<!-- <div class="m-form-group">
				<input type="text" placeholder="Title" required ng-model="postReviewCtrl.title">
			</div>
			<div class="m-form-group">
				<textarea placeholder="Your Review" rows="14" ng-model="postReviewCtrl.body"></textarea>
			</div>
			<div class="m-form-group">
				<input type="text" placeholder="Enter Source ..." required ng-model="postReviewCtrl.source">
			</div> -->
			<div class="m-form-group">
				<p style="font-size: 16px; margin-bottom: 0; color: rgb(150,150,150);">
					Add Tags
				</p>
				<!-- <input type="text" placeholder="Tags" required ng-model="postReviewCtrl.tags"> -->
				<input type="text" ng-model="postReviewCtrl.tag" ng-keyup="$event.keyCode == 13 ? postReviewCtrl.addTag(postReviewCtrl.tag) : null" style="border: none; width: 100%">
				<div class="m-t-10">
					<span class="tag d-inline-block" ng-repeat="tag in postReviewCtrl.tags">{{tag}} <span class="link-cursor-pointer" ng-click="postReviewCtrl.removeTag($index)">&#10005;</span></span>
				</div>
			</div>
			<div class="m-form-group">
				<rating score="postReviewCtrl.score" max="10"></rating>
			</div>
			<button type="button" class="m-btn-1" ng-click="postReviewCtrl.addReview()">Submit</button>
		</form>
	</div>
</section>
