* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fafafa;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: rgb(50,50,50);
}

.d-inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.f-s-35 {
	font-size: 35px;
}

.f-s-25 {
	font-size: 25px;
}

.f-s-16 {
	font-size: 16px;
}

.f-s-15 {
	font-size: 15px;
}

.f-s-13 {
	font-size: 13px;
}

.f-s-12 {
	font-size: 12px;
}

.m-b-2 {
	margin-bottom: 2px;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.m-t-60 {
	margin-top: 60px;
}

.m-t-10 {
	margin-top: 10px;
}

.ff-Open-Sans {
	font-family: 'Open Sans', sans-serif;
}

.p-t-50 {
	padding-top: 50px;
}

.p-15 {
	padding: 15px;
}

.p-b-50 {
	padding-bottom: 50px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.m-editor-block {
	display: block;
	margin-bottom: 35px;
	font-size: 16px;
}

.err-msg {
	color: red;
	font-size: 16px;
	font-weight: 'Lato', sans-serif;
	margin-bottom: 10px;
	display: block;
}

.button-set {
	float: right;
	margin-top: 7px;
}

.button-set a {
	color: rgb(75,75,75);
}

.button-set a:hover {
	color: rgb(20,20,20);
	text-decoration: none;
}

.log-out-btn {
	border-radius: 3px;
	background: #337ab7;
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 20px;
	padding: 6px 15px;
}

nav {
	background: #fff;
	border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 1px -4px rgb(200, 200, 200);
}

.nav-logo {
	float: left;
	font-family: 'Lora', serif;
	color: #b92b27;
	cursor: pointer;
	height: 50px;
	padding: 15px 15px;
	font-size: 25px;
	line-height: 20px;
}

nav ul {
	height: 50px;
	line-height: 50px;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 0 10px;
}

nav a {
	color: rgb(150,150,150);
	font-family: 'Open Sans', sans-serif;
}

nav a:hover, nav a:active, nav a:focus {
	text-decoration: none;
	color: #b92b27;
}

.color-red {
	color: #b92b27;
}

.bg-overlay {
	background: url('../images/bg2.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
}

.screen-err-msg {
	
}

.form-wrapper {
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	margin: auto;
	margin-top: 150px;
	padding-bottom: 100px;
	text-align: center;
	width: 500px;
}

.logo-text {
	border: none;
	border-radius: 5px 5px 0 0;
	color: white;
	font-family: 'Lora', serif;
	font-size: 45px;
	margin: 0;
	padding: 20px 0 2px;
}

.tagline {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.fb-login {
	background: #4867bb;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 15px;
	padding: 6px 23px 6px 18px;
}

.fb-login:hover {
	color: white;
	background: #4867aa;
	text-decoration: none;
}

.fb-login:active, .fb-login:visited, .fb-login:link {
	background: #4867aa;
	color: white;
	text-decoration: none;
}

.fb-login span {
	vertical-align: middle;
}

.fb-login span:last-child {
	font-size: 16px;
}

.fb-login .fa {
	font-size: 30px;
	margin-right: 20px;
}

.homeSignupForm {
	margin: 30px auto 0;
	width: 286px;
}

.homeSignupForm p {
	color: white;
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin: 7px 0 15px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.homeSignupForm .form-group {
	margin-bottom: 10px;
}

.homeSignupForm input {
	background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#fff));
  background: -webkit-linear-gradient(#f5f5f5, #fff);
  background: linear-gradient(#f5f5f5, #fff);
  box-shadow: none;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 16px;
  color: rgb(50,50,50);
  font-weight: 500;
  padding: 7px 13px;
  width: 100%;
}

.homeSignupForm input:focus {
	outline: none;
	border: 1px solid #bbb;
}

.homeSignupForm .btn {
	background: -webkit-gradient(linear, left top, left bottom, from(#b82b27), to(#c23b37));
  background: -webkit-linear-gradient(#b82b27, #c23b37);
  background: linear-gradient(#b82b27, #c23b37);
  border-radius: 2px;
	float: right;
	font-size: 15px;
	width: 75px;
}

.homeSignupForm .btn:hover {
	background: #a82a22;
}

.homeSignupForm ::-webkit-input-placeholder {
  color: rgb(100,100,100);
}
.homeSignupForm ::-moz-placeholder {
  color: rgb(100,100,100);
}
.homeSignupForm :-ms-input-placeholder {
  color: rgb(100,100,100);
}
.homeSignupForm :-moz-placeholder {
  color: rgb(100,100,100);
}

.disclaimer {
	color: white;
	float: left;
	font-size: 14px;
	/*font-family: 'Lato', sans-serif;*/
	font-weight: 400;
	letter-spacing: 0px;
	margin: 0;
	text-align: left;
	width: 140px;
}

.disclaimer a {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


/********* TECH CARD  *************/

.tech-card {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #eee;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	margin-top: 35px;
	text-align: center;
	transition: all 0.3s;
}

.tech-card img {
	max-width: 100%;
	padding: 15px 20px 0;
	width: 230px;
}

.tech-card p {
	font-size: 25px;
	padding: 0 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.tech-card a {
	background: #e9e9e9;
	border-radius: 0 0 4px 4px;
	color: rgb(50,50,50);
	display: block;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 15px 15px;
	text-transform: uppercase;
}

.tech-card a:hover, .tech-card a:link, .tech-card a:visited, .tech-card a:active {
	text-decoration: none;
}

.tech-card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
}

.tech-card a:hover {
	color: rgb(50,50,100);
}


/******* POST REVIEW ******/

.m-container {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	width: 750px;
}

.wrapper-25 {
	background: white;
	padding: 25px;
}

.m-form-group {
	margin-bottom: 7px;
}

.m-btn-1 {
	background: none;
	border-radius: 20px;
	border: 1px solid #d82d27;
	color: #d82d27;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-top: 10px;
	outline: none;
	padding: 8px 25px;
	transition: all 0.2s;
}

.comments-block .m-btn-1 {
	font-size: 14px;
	padding: 7px 22px;
}

.m-btn-1:hover {
	background: #d82d27;
	color: white;
}

.m-btn-1:focus, .m-btn-1:active {
	outline: 0; !important
}

.tech-intro img {
	width: 70px;
}

.tech-intro p {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
	margin-left: 10px;
	vertical-align: middle;
}

.tech-intro p span {
	color: rgb(150,150,150);
	display: block;
	font-size: 13px;
	margin-top: 5px;
}

input[placeholder="Title"] {
	border: none;
	font-size: 28px;
	width: 100%;
}

input[placeholder="Title"]:focus, textarea:focus, input[placeholder="Enter Source ..."]:focus {
	outline: none;
}

.review-form {
	margin-top: 25px;
}

input[placeholder="Title"]::-webkit-input-placeholder {
  color: rgb(130,130,130);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
input[placeholder="Title"]::-moz-placeholder {
  color: rgb(130,130,130);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
input[placeholder="Title"]:-ms-input-placeholder {
  color: rgb(130,130,130);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
input[placeholder="Title"]:-moz-placeholder {
  color: rgb(130,130,130);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

textarea, input[placeholder="Enter Source ..."] {
	border: none;
	font-size: 16px;
	width: 100%;
	resize: none;
}


/**** REVIEWS ******/

.review-card {
	border-radius: 3px;
	background: white;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.review-head {
	margin-bottom: 20px;
}

.review-head img {
	width: 40px;
}

.review-head p {
	display: inline-block;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;
	vertical-align: middle;
}

.review-head p a {
	color: #d82d27;
}

.review-head p a:hover {
	color: #f82f27;
	text-decoration: none;
}

.review-title {
	color: rgb(75,75,75);
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.review-body {
	color: black;
	display: inline;
	font-size: 16px;
	word-wrap: break-word;
}

.review-body > last-child {
	display: inline;
}

.more-link {
	margin-top: 15px;
}

.more-link a {
	color: rgb(100,100,100);
}

.more-link a:hover {
	color: rgb(50,50,50);
	text-decoration: none;
}

.rating-value {
	font-size: 20px;
}

.rating-value span {
	color: #337ab7;
}

.wrapper-15 {
	padding: 15px;
}

.review-footer {
	margin-top: 25px;
}

.review-footer:after {
	clear: both;
	content: "";
	display: table;
}

.review-footer:before {
	display: table;
	content: "";
}

.upvote-btn {
	background: none;
	border-radius: 20px;
	border: 1px solid #d82d27;
	color: #d82d27;
	font-size: 12px;
	margin-right: 7px;
	padding: 6px 17px;
	vertical-align: middle;
}

.upvote-btn:hover {
	background: #d82d27;
	color: #fff;
}

.upvote-btn:focus {
	outline: none;
}

.downvote {
	color: rgb(150,150,150);
	font-size: 13px;
	vertical-align: middle;
}

.downvote:hover {
	outline: none;
	text-decoration: none;
	color: rgb(70,70,70);
}

.msg {
	color: rgb(100,100,100);
	font-size: 12px;
	margin-bottom: 0;
}

.box {
	border-radius: 3px;
	border: 1px solid rgb(245,245,245);
	font-size: 14px;
	text-align: center;
	padding: 15px 25px;
	margin-bottom: 30px;
	cursor: pointer;
	background: white;
}

.fa-star-o {
	color: #888;
}

.fa-star-o:hover {
	color: #ffe11b;
}


/***** RATING *****/

.rating {
  font-size: 175%;
  margin: 25px 0 10px;
}

.rating > a {
  text-decoration: none;
	color: #ffe11b;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C;
}


/******* 	RESULT 	********/

.o-tech-card {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #eee;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
	text-align: center;
	transition: all 0.3s;
	width: 100%;
}

.o-tech-card img {
	max-width: 100%;
	padding: 15px 20px 0;
	width: 230px;
}

.o-tech-card p {
	font-size: 20px;
	padding: 0 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.o-tech-card .rating {
	font-size: 30px;
	margin: 0;
	margin-bottom: 10px;
}

.o-tech-card .rating span {
	color: #337ab7;
}

.source {
	background: #e9e9e9;
}

.source p {
	margin: 0;
	font-size: 16px;
	padding: 10px 10px 5px;
}

.source a {
	padding-bottom: 10px;
	font-size: 18px;
	display: inline-block;
}

.tech-card a:hover, .tech-card a:link, .tech-card a:visited, .tech-card a:active {
	text-decoration: none;
}

.tech-card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
}

.tech-card a:hover {
	color: rgb(50,50,100);
}


/***** USER PROFILE *********/

.user-profile {
	background: white;
	width: 100%;
	margin: 20px auto;
	padding: 20px 0 30px;
	text-align: center;
}

.user-profile img {
	width: 100px;
}

.user-profile p {
	font-size: 22px;
	margin-top: 10px;
}

.follow-btn {
	background: none;
	border-radius: 20px;
	border: 1px solid #d82d27;
	color: #d82d27;
	padding: 9px 21px;
}

.follow-btn:hover {
	background: #d82d27;
	color: white;
}

.follow-btn:focus {
	outline: none;
}

.img-block {
	border-radius: 3px;
	display: inline-block;
	width: 20%;
	background: white;
	vertical-align: top;
}

.img-block img {
	max-width: 100%;
	padding: 15px;
}

.u-review-card {
	width: 79%;
	display: inline-block;
	margin-top: 0;
}


/**** GENERAL '+' SINGLE POST CSS****/

.bg-white {
	background: #fff;
}

.user-block img {
	border-radius: 50%;
	width: 70px;
}

.user-block p {
	margin-bottom: 0;
	margin-left: 15px;
	vertical-align: middle;
}

.user-block p a {
	color: rgb(60,60,60);
}

.user-block p a:hover {
	text-decoration: none;
	color: rgb(0,0,0);
}

.user-block span {
	color: grey;
}

.comments-block h4 {
	color: rgb(100,100,100);
	font-size: 15px;
	font-weight: 600;
}

.border-shadow {
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
}

.s-user-block img {
	border-radius: 50%;
	width: 55px;
}

.s-user-block p {
	margin-bottom: 0;
	margin-left: 15px;
	vertical-align: middle;
}

.s-user-block span {
	color: grey;
}

.s-post-block p {
	margin-top: 10px;
	margin-bottom: 0;
}

/**** SMALL TECH CARD ****/
.s-tech-card img {
	height: 40px;
	width: 40px;
	vertical-align: top;
}

.s-tech-card p {
	font-size: 15px;
	margin-bottom: 0;
	margin-left: 5px;
}

.s-tech-card p a {
	color: #777;
	text-decoration: none;
}

.s-tech-card p a:hover {
	text-decoration: underline;
}

.s-tech-card p span {
	color: #777;
	font-size: 14px;
	margin-top: 2px;
}

.s-tech-card button {
	font-size: 13px;
	margin-left: 0px;
	margin-top: 2px;
	padding: 7px 20px;
  vertical-align: text-bottom;
}

.link-accent {
	color: #d82d27;
}

.link-accent:hover {
	text-decoration: none;
	color: #d82d27;
}

.link-bullet:before {
	content: '• ';
	font-size: 18px;
}

.link-cursor-pointer {
	cursor: pointer;
}

.fa-bookmark-o, .fa-bookmark {
	margin-left: 10px;
	font-size: 16px;
	vertical-align: bottom;
	color: #555;
}

.fa-bookmark {
	color: #000;
}

.bookmark-msg {
	margin-top: 3px;
  display: block;
  font-size: 14px;
  color: #444;
  text-align: center;
}

.tag {
	background: #f5f5f5;
	border-radius: 3px;
	color: #777;
	font-size: 12px;
	margin-right: 6px;
	padding: 6px 10px;
}

.tag:hover {
	background: #e5e5e5;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}

.b-tag {

	border-radius: 3px;

	font-size: 14px;
	margin-right: 8px;
	padding: 6px 15px;
}

.b-tag-w {
	background: white;
	color: #777;
}

.b-tag-r {
	background: #d82d27;
	color: #fff;
}

.b-tag:hover {
	background: #d82d27;
	color: #fff;
}

.r-msg {
	color: rgb(130,130,130);
	font-size: 16px;
	padding-left: 15px;
}
